<div class="home-container">
  <div class="info-container">
    <h4>Maps</h4>
    <% @maps.each do |map| %>
    <div>
      <%= map.name %>
    </div>
    <% end %>
  </div>
  <div class="info-container">
    <h4>Heroes</h4>
    <% @heroes.each do |hero| %>
    <div>
      <%= hero.name %>
    </div>
    <% end %>
  </div>
  <div class="info-container">
    <h4>Matches</h4>
    <% @matches.each do |match| %>
    <div>
      <%= match.hero %>
      <%= match.map %>
      <%= match.win %>
    </div>
    <% end %>
  </div>
</div>
